.git
**/.git
**/.gitignore

**/node_modules
**/dist
**/.vite
**/.cache

**/__pycache__
**/*.pyc
**/.pytest_cache

**/.env
**/.env.*
!**/.env.example

**/*.pem
**/*.key
**/.secrets
**/.aws

*.log
*.retry
